.footer{
    background-color: #000;
    max-width: 2000px;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
}

.footer-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

.footer-list-item{
    list-style-type: none;
}

@media (max-width: 1000px){
    .footer{
        gap: 35px;
    }
    .footer-list{
        grid-template-columns: 1fr ;
        align-items: center;
        gap: 15px;
    }
}

