.container{
    margin: 170px;
    max-width: 100%;
}

.h2{
    text-align: center;
    margin: 55px 0 40px;
    font-size: 30px;
}

.top-image {
    width: 400px;
    max-width: 100%;
}

.top-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.top-item{
    font-size: 20px;
    margin: 30px;
}
.video{
    display: flex;
    justify-content: center;
}

iframe {
    width: 972px;
    height: 547px;
}

.people{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.people-card{
    padding: 15px;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.28);
    border-radius: 15px;
}

.team-mate{
    width: 250px;
    max-width: 100%;
}